.header-grid {
  display: grid;
  position: fixed;
  grid-template-columns: 1fr 1fr;
  top: 0;
  width: 100vw;
  height: 180px;
}

.header-logo img {
  padding: 20px;
  max-width: 140px;
  max-height: 140px;
}

.header-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-content: space-around;
}

.header-links a {
  font-family: $primary-font;
  font-size: 1.4rem;
  color: white;
}

.links a {
  height: 100%;
}
