.header-grid {
  display: grid;
  position: absolute;
  grid-template-columns: 1fr 2fr;
  bottom: 0;
  width: 100vw;
  height: 180px;
}

.header-logo img {
  padding: 22px;
  max-width: 180px;
  max-height: 180px;
}

.header-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-content: space-around;
}

.header-links a {
  font-family: $primary-font;
  font-size: 1.4rem;
}
