.home-wrapper {
  background: url(/assets/osmosisss.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vw;
  width: 100vw;
}
